<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blockchian Angola</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/plyr/plyr.css" />

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				BlockChain Angola
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">
				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li> <a class="dropdown-item" href="contact-us.html">Contattaci</a></li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Help
									<span class="badge bg-success ms-2 smaller">New</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<li> <a class="dropdown-item" href="help-center.html">Help Center</a></li>
									<li> <a class="dropdown-item" href="faq.html">FAQs</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Corsi</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Corsi</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<li> <a class="dropdown-item" href="course-grid.html">Lista Corsi</a></li>
									<li> <hr class="dropdown-divider"></li>
									<li> <a class="dropdown-item" href="course-detail-adv.html">Dettagli corsi</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!-- Nav item 3 Account -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Area Riservata</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">
							<!-- Dropdown submenu -->
									<li> <a class="dropdown-item" href="sign-in.html">Sign In</a></li>
									<li> <a class="dropdown-item" href="sign-up.html">Registrati</a></li>
						</ul>
					</li>
				<!-- Nav Main menu END -->
			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Page content START -->
<section class="pt-3 pt-xl-5">
	<div class="container" data-sticky-container>
		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-8">

				<div class="row g-4">
					<!-- Title START -->
					<div class="col-12">
						<!-- Title -->
						<h2>Il corso completo sul mondo delle crypto valute.</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga numquam consequuntur minima eum eveniet quos quod ipsam! Fugit ipsum veniam eius praesentium quae necessitatibus dolor magnam deserunt iure eligendi!.</p>
						<!-- Content -->
						<ul class="list-inline mb-0">
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star me-2"></i>4.5/5.0</li>
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate me-2"></i>185 Studenti</li>
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal me-2"></i>Tutti i livelli</li>
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill me-2"></i>Ultimo aggiornamenti 12/03/2022</li>
							<li class="list-inline-item fw-light h6"><i class="fas fa-globe me-2"></i>Italiano-Portughese</li>
						</ul>
					</div>
					<!-- Title END -->

					<!-- Image and video -->
					<div class="col-12 position-relative">
						<div class="video-player rounded-3">
							<video controls crossorigin="anonymous" playsinline poster="assets/images/videos/poster.jpg">
								<source src="assets/images/videos/360p.mp4" type="video/mp4" size="360">
								<source src="assets/images/videos/720p.mp4" type="video/mp4" size="720">
								<source src="assets/images/videos/1080p.mp4" type="video/mp4" size="1080">
								<!-- Caption files -->
								<track kind="captions" label="English" srclang="en" src="assets/images/videos/en.vtt" default>
								<track kind="captions" label="French" srclang="fr" src="assets/images/videos/fr.vtt">
							</video>
						</div>
					</div>

					<!-- About course START -->
					<div class="col-12">
						<div class="card border">
							<!-- Card header START -->
							<div class="card-header border-bottom">
								<h3 class="mb-0">Descrizione corso</h3>
							</div>
							<!-- Card header END -->
		
							<!-- Card body START -->
							<div class="card-body">
								<p class="mb-3">Benvenuti nel corso sulle <strong> Crypto currency, un corso che ti permettera di moverti e guadagnare con le crypto.</strong></p>
								<p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam, aliquid dolorum voluptatum dignissimos praesentium laborum tenetur eligendi ducimus error quo natus perferendis modi nesciunt, saepe cumque, placeat facere similique.</strong></p>
								<p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, nihil quibusdam! Suscipit debitis illum eligendi corrupti odit quia facilis laborum voluptatum nam ad maiores, repellendus saepe explicabo recusandae molestiae architecto.</strong> syllabus, let’s look at the scope of digital marketing and what the future holds.</p>
								<!-- Collapse body -->
								<div class="collapse" id="collapseContent">
									<p class="my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam adipisci fuga fugiat rerum minima, atque ab cum harum vitae libero nobis amet reprehenderit, fugit, odit nihil quo sunt similique. Rerum.</p>
									<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ab magnam beatae commodi sit tempore ipsa facilis quae possimus laboriosam. Id accusantium quod, eius exercitationem dolor vel eaque delectus voluptatibus.</p>
								</div>
								<!-- Collapse button -->
								<a class="p-0 mb-0 mt-2 btn-more d-flex align-items-center" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
									See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fas fa-angle-down ms-2"></i>
								</a>
	
								<!-- List content -->
								<h5 class="mt-4">Cosa imparerai</h5>
								<div class="row mb-3">
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Cosa sono crypto</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Cosa è la blockchain</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Protocolli</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Fare trading</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Valutare i progetti</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Bitcoin<li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Metamasck</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Wallet</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Indirizzo</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Shit coin</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Non so piu che scrivere :(</li>
										</ul>
									</div>
								</div>
								<p class="mb-0">N altra descrizione Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae similique nihil placeat eius commodi quibusdam facilis aliquam odit, est beatae tempore porro voluptatem omnis expedita amet voluptatum sunt accusamus! </p>
							</div>
							<!-- Card body START -->
						</div>
					</div>
					<!-- About course END -->

					<!-- Curriculum START -->
					<div class="col-12">
						<div class="card border rounded-3">
							<!-- Card header START -->
							<div class="card-header border-bottom">
								<h3 class="mb-0">Percorso </h3>
							</div>
							<!-- Card header END -->
		
							<!-- Card body START -->
							<div class="card-body">
								<div class="row g-5">
									<!-- Lecture item START -->
									<div class="col-12">
										<!-- Curriculum item -->
										<h5 class="mb-4">Indruzione crypto (3 lezioni)</h5>
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Introduzione</h6>
													<p class="mb-2 mb-sm-0 small">10m 56s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>
		
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Cosa sono le crypto</h6>
													<p class="mb-2 mb-sm-0 small">18m 30s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>
		
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Tipi di rete</h6>
													<p class="mb-2 mb-sm-0 small">22m 26s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
										</div>
									</div>
									<!-- Lecture item END -->

									<!-- Lecture item START -->
									<div class="col-12">
										<!-- Curriculum item -->
										<h5 class="mb-4">Blockchain (4 lezioni)</h5>
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Cosa è la blockchain</h6>
													<p class="mb-2 mb-sm-0 small">10m 56s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>
		
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">I principali non so cosa scrivere...</h6>
													<p class="mb-2 mb-sm-0 small">18m 30s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>
		
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">22m 26s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
										</div>
										<!-- Divider -->
										<hr>
	
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">18m 26s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
										</div>
									</div>
									<!-- Lecture item END -->

									<!-- Lecture item START -->
									<div class="col-12">
										<!-- Curriculum item -->
										<h5 class="mb-4">Come collegarsi alle reti per transferire le crypto (5 lezioni)</h5>
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">18m 21s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>
		
										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">7m 30s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>

										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">15m 32s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>

										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">17m 30s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
										<!-- Divider -->
										<hr>

										<!-- Curriculum item -->
										<div class="d-sm-flex justify-content-sm-between align-items-center">
											<div class="d-flex">
												<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
												<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
													<h6 class="mb-0">Lorem ipsum dolor sit amet consectetur, a</h6>
													<p class="mb-2 mb-sm-0 small">25m 30s</p>
												</div>
											</div>
											<!-- Button -->
											<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
										</div>
									</div>
									<!-- Lecture item END -->

									<!-- Collapse body START -->
									<div class="collapse mt-0" id="collapseCourse">
										<!-- Lecture item START -->
										<div class="col-12 mt-5">
											<!-- Curriculum item -->
											<h5 class="mb-4">Cosa è un wallet?</h5>
											<div class="d-sm-flex justify-content-sm-between align-items-center">
												<div class="d-flex">
													<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
													<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
														<h6 class="mb-0">Come aprire un wallet</h6>
														<p class="mb-2 mb-sm-0 small">25m 20s</p>
													</div>
												</div>
												<!-- Button -->
												<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
											</div>
											<!-- Divider -->
											<hr>
			
											<!-- Curriculum item -->
											<div class="d-sm-flex justify-content-sm-between align-items-center">
												<div class="d-flex">
													<a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i class="fas fa-play"></i></a>
													<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
														<h6 class="mb-0">Bla bla blaaaaaa</h6>
														<p class="mb-2 mb-sm-0 small">15m 20s</p>
													</div>
												</div>
												<!-- Button -->
												<a href="#" class="btn btn-sm btn-success mb-0">Play</a>
											</div>
											<!-- Divider -->
											<hr>
			
											<!-- Curriculum item -->
											<div class="d-sm-flex justify-content-sm-between align-items-center">
												<div class="d-flex">
													<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
													<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
														<h6 class="mb-0">ok :)</h6>
														<p class="mb-2 mb-sm-0 small">32m 26s</p>
													</div>
												</div>
												<!-- Button -->
												<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
											</div>
											<!-- Divider -->
											<hr>

											<!-- Curriculum item -->
											<div class="d-sm-flex justify-content-sm-between align-items-center">
												<div class="d-flex">
													<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
													<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
														<h6 class="mb-0">Il bitcoin è salito frateeeee</h6>
														<p class="mb-2 mb-sm-0 small">18m 20s</p>
													</div>
												</div>
												<!-- Button -->
												<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
											</div>
											<!-- Divider -->
											<hr>
		
											<!-- Curriculum item -->
											<div class="d-sm-flex justify-content-sm-between align-items-center">
												<div class="d-flex">
													<a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i class="bi bi-lock-fill"></i></a>
													<div class="ms-2 ms-sm-3 mt-1 mt-sm-0">	
														<h6 class="mb-0">A no non e vero :(</h6>
														<p class="mb-2 mb-sm-0 small">20m 20s</p>
													</div>
												</div>
												<!-- Button -->
												<a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
											</div>
										</div>
										<!-- Lecture item END -->
									</div>
									<!-- Collapse body END -->

									<!-- Collapse button -->
									<a class="mb-0 mt-4 btn-more d-flex align-items-center justify-content-center" data-bs-toggle="collapse" href="#collapseCourse" role="button" aria-expanded="false" aria-controls="collapseCourse">
										Guarda <span class="see-more mx-1">piu</span><span class="see-less mx-1">meno</span> video<i class="fas fa-angle-down ms-2"></i>
									</a>
									
								</div>
							</div>
							<!-- Card body START -->
						</div>
					</div>
					<!-- Curriculum END -->

					<!-- FAQs START -->
					<div class="col-12">
						<div class="card border rounded-3">
							<!-- Card header START -->
							<div class="card-header border-bottom">
								<h3 class="mb-0">Domande frequenti</h3>
							</div>
							<!-- Card header END -->
		
							<!-- Card body START -->
							<div class="card-body">
								<!-- FAQ item -->
								<div>
									<h6>Domanda numero 1?</h6>
									<p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate voluptatem amet, et dignissimos adipisci tempora, qui iusto commodi ab dolorem excepturi iste, alias perspiciatis vitae recusandae doloribus facere nulla repellat..</p>
								</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>Domanda numero 2?</h6>
									<p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam neque odio molestiae ipsum cupiditate iste recusandae culpa voluptates, sed quod praesentium voluptas rem? Modi sequi aut sapiente itaque, sit at.</p>
								</div>
								
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>Domanda numero 3?</h6>
									<p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam neque odio molestiae ipsum cupiditate iste recusandae culpa voluptates, sed quod praesentium voluptas rem? Modi sequi aut sapiente itaque, sit at.</p>
								</div>

								<!-- FAQ item -->
								<div class="mt-4">
									<h6>Domanda numero 4?</h6>
									<p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam neque odio molestiae ipsum cupiditate iste recusandae culpa voluptates, sed quod praesentium voluptas rem? Modi sequi aut sapiente itaque, sit at.</p>
								</div>

								<!-- FAQ item -->
								<div class="mt-4">
									<h6>Domanda numero 5?</h6>
									<p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam neque odio molestiae ipsum cupiditate iste recusandae culpa voluptates, sed quod praesentium voluptas rem? Modi sequi aut sapiente itaque, sit at.</p>
								</div>
							</div>
							<!-- Card body START -->
						</div>
					</div>
					<!-- FAQs END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="768">
					<div class="row g-4">
						<div class="col-md-6 col-xl-12">
							<!-- Course info START -->
							<div class="card card-body border p-4">
								<!-- Price and share button -->
								<div class="d-flex justify-content-between align-items-center">
									<!-- Price -->
									<h3 class="fw-bold mb-0 me-2">$1199,99</h3>
									<!-- Share button with dropdown -->
									<div class="dropdown">
										<a href="#" class="btn btn-sm btn-light rounded mb-0 small" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-fw fa-share-alt"></i>
										</a>
										<!-- dropdown button -->
										<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
											<li><a  class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
											<li><a class="dropdown-item" href="#"><i class="fas fa-copy me-2"></i>Copy link</a></li>
										</ul>
									</div>
								</div>
									
								<!-- Buttons -->
								<div class="mt-3 d-grid">
									<a href="#" class="btn btn-outline-primary">Aggiungi al carello</a>
									<a href="#" class="btn btn-success">Copra adesso</a>
								</div>
								<!-- Divider -->
								<hr>

								<!-- Title -->
								<h5 class="mb-3">Il corso include</h5>
								<ul class="list-group list-group-borderless border-0">
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Lezioni</span>
										<span>30</span>
									</li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Durata</span>
										<span>4h 50m</span>
									</li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Livello</span>
										<span>Tutti i livelli</span>
									</li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Lingue</span>
										<span>Italiano-Portughese</span>
									</li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Acesso</span>
										<span>A vita</span>
									</li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Certificato</span>
										<span>Si</span>
									</li>
								</ul>
								<!-- Divider -->
								<hr>

								<!-- Instructor info -->
								<div class="d-sm-flex align-items-center">
									<!-- Avatar image -->
									<div class="avatar avatar-xl">
										<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
									</div>
									<div class="ms-sm-3 mt-2 mt-sm-0">
										<h5 class="mb-0"><a href="#">Da Sirius Black #1</a></h5>
										<p class="mb-0 small">Fondatore della Blockchain Angola</p>
									</div>
								</div>

								<!-- Rating and follow -->
								<div class="d-sm-flex justify-content-sm-between align-items-center mt-0 mt-sm-2">
									<!-- Rating star -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
										<li class="list-inline-item ms-2 h6 fw-light mb-0">4.5/5.0</li>
									</ul>

									<!-- button -->
									<button class="btn btn-sm btn-primary mb-0 mt-2 mt-sm-0">Segui</button>
								</div>
							</div>
							<!-- Course info END -->
						</div>

						<!-- Tags START -->
						<div class="col-md-6 col-xl-12">
							<div class="card card-body border p-4">
								<h4 class="mb-3">Tag principali</h4>
								<ul class="list-inline mb-0">
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">crypto</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">business</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">trading</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">finance</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">wallet</a> </li>
								</ul>
							</div>	
						</div>
						<!-- Tags END -->
					</div><!-- Row End -->
				</div>	
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!--Footer START -->
<footer class="pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0 h4" href="index.html">
					Blockchain Angola
				</a>
				<p class="my-3">Blockchain Angola è nata col intento di aiutare il prossimo a trovare la sua libertà professionale.</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Company</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Chi siamo</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contattaci</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Notizie e Blog</a></li>
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Community</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Faq</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Forum</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Teaching</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Become a teacher</a></li>
							<li class="nav-item"><a class="nav-link" href="#">How to guide</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Termini &amp; Condizioni</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Contact</h5>
				<!-- Time -->
				<p class="mb-2">
					Toll free:<span class="h6 fw-light ms-2">+39 392 214 1733</span>
				</p>

				<p class="mb-0">Email:<span class="h6 fw-light ms-2">info@blockchainangola.it</span></p>
			</div> 
			<!-- Widget 3 END -->
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2022 Blockchain angola</a>. All rights reserved. </div>
					<!-- copyright links-->
					<div class=" mt-3 mt-md-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
							</li>
							<li class="list-inline-item"><a class="nav-link" href="#">Termini e condizioni</a></li>
							<li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/sticky-js/sticky.min.js"></script>
<script src="assets/vendor/plyr/plyr.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>